/*===== BODY =====*/
body {
    font-family: Verdana, Georgia, "Times New Roman", Times, serif;
    margin-bottom: 50px;
    color: #0a3126;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

/*===== HEADER =====*/
  .main__container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  li {
    list-style-type: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    transition: all 0.4s ease-out;
  }   
  
  .sticky .header__btn {
    background-color: white;
    color: #2fa38d;
  }
  
  .sticky .header__btn:hover {
    background-color: #cccccc;
    color: #2fa38d;
  }
  
  .sticky #logo {
    background-image: url("../assets/images/goco-group-logo.png");
    background-color: transparent;
    color: #2fa38d;
  }
  
  .sticky .header__li:hover {
    text-decoration: underline;
    color: white;
  }
  
  #logo {
    background-image: url("../assets/images/goco-group-logo.png");
    background-size: 120px 50px;
    width: 120px;
    height: 50px;
  }
  
  #header__ul {
    display: none;
  }
    
  .blocker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  #header__small {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background-color: rgba(47, 163, 141, 0.8);
    position: absolute;
    top: 73px;
    right: 0;
    border-radius: 4px;
    display: none;
    z-index: 2;
  } 
  
  #header__small ul {
    list-style-type: none;
    text-align: end;
    padding-right: 10px;
  }
  
  .header__li--small {
    line-height: 45px;
  }
  
  .menu__xs--btn {
    background-color: #2fa38d;
    height: 55px;
    width: 65px;
    border-radius: 4px;
    z-index: 1;
  } 
    
  .menu__xs--btn:hover {
    background-color: #2fa38d;
    cursor: pointer;
  }
    
  .menu__xs--lines {
    padding: 10px 0 4px 16px;
  }
  
  .menu__x {
    display: none;
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 21px;
  }
  
  .menu__xs--line {
    width: 33px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }
   
  .menu__x--title {
    font-size: 12px;
    text-align: center;
    margin-top: -7px;
    color: white;
    font-weight: 600;
  }
  
  .header__li {
    margin: 10px;
    font-weight: 600;
    transition: all 0.2s ease-in;
  }
   
  .header__li:hover {
    color: #2fa38d;
  }
  
  .header__btn {
    display: none;
    background-color: #2fa38d;
    color: white;
    border-radius: 8px;
    height: 20px;
    padding: 15px;
    font-weight: 600;
    font-size: 13px;
  }        
  
  .header__btn:hover {
    background-color: #247b6b;
  }
    
  /*===== MAIN =====*/

  .hero__image--container {
    background-image: url("../assets/images/apz9evdgfnmmkna3cdrd.webp");
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
    margin: 10px -8% 0 -8%;
  }
  
  .hero__image--container h1 {
    text-shadow: 2px 2px gray;
    text-align: center;
  }
  
  .hero__btn {
    background-color: #2fa38d;
    color: white;
    border-radius: 8px;
    height: 20px;
    padding: 15px;
    font-weight: 600;
    font-size: 13px;
  }
  
  .fa-arrow-right {
    margin-left: 10px;
  }

/*****  CARDS *****/

  .cards__container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }

/**** 1º CARD ****/   

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }        
  
  .card__text {
    margin: 10px 0 50px 0;
  }
  .card__text h1 {
    font-size: 20px;
  }
  .card__text p {
    margin: 30px 0 50px 0;
    max-width: 90%;
  }

/**** 2º CARD ****/    

  .card__2 {
    margin-bottom: 0;
  }
                    
  .hero__btn:hover {
    background-color: #247b6b;
  }

  .card__text .hero__btn {
      display: flex;
      justify-content: center;
  }

  .card__image {
      margin: 0px;
      border-radius: 10px;
      max-width: 500px;
      max-height: 500px;
  }
/**** 3º CARD ****/  

  .card__3image {
    display: none;  
  }
  
  .card__3 .card__small-screen--image {
    margin: 0px;
    border-radius: 10px;
  }
  
  .image-emma__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0 20px 10px;
  }
  .image-emma__text--container .hero__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 13px;
  }

  /***** GLASDOOR *****/

  .card__glassdoor {
    text-align: center;
  }
  .card__glassdoor h1 {
    font-size: 20px;
  }
  .card__glassdoor #small-text {
    font-size: 11px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  
  .card__glassdoor img {
    width: 200px;
    height: 40px;
    margin-top: 20px;
  }
  
  .glassdoor__btn {
    background-color: #28B457;
  }
  
  .glassdoor__btn:hover {
    background-color: #1f8a43;
  }

/**** ALEX CARD *****/ 

  .alex__image--container {
    display: block;
    background-image: url("../assets/images/alex.jpeg");
    background-position: center;
    border-radius: 10px;
    height: 333px;
    margin: 50px auto 50px auto;
    max-width: 600px;
  }   
  
  .alex__text {
    text-align: center;
    width: 300px;
    margin: 0px 0 0 20px;
    padding-top: 40px;
    font-size: 14px;
  }

/**** CARD OPTIONS ****/ 

  .card__links--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .card__link {
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.22);
    margin: 0 0 15px 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
  }
  .card__link h2 {
    margin-bottom: 25px;
    width: 166px;
  }
  .card__link .hero__btn {
    min-width: 146px;
  }
  
  .bottom__text {
    font-size: 15px;
    margin-bottom: 60px;
  }

  /*===== FOOTER =====*/
  
  .footer__link {
    text-decoration: underline;
  }
  
  .footer {
    line-height: 15px;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer__text {
    font-size: 10px;
  }
  
  .footer__text--2 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: gray;
  }

  /**** LINKS ****/

  .linkedin-style {
    background-color: #0073B1;
    color: white;
    padding: 2px;
    font-size: 25px !important;
    position: absolute;
    margin-left: 11px;
  }
  
  .linkedin-style:hover {
    background-color: #00527e;
  }
  
  .powered__by {
    margin-right: -11px;
    max-width: 100px;
  }
  
  .powered__by:hover {
    color: black;
  }
  
  .privacy__policy {
    margin-left: -11px;
  }
  .privacy__policy:hover {
    color: black;
  }
  

  /*===== MEDIA QUERIES =====*/

  /**** HEADER ****/

  @media only screen and (min-width: 1260px) {
    header {
      margin: 2.5rem 3rem;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .sticky {
      background-color: rgba(47, 163, 141, 0.7);
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      margin: 0px;
      padding: 10px;
      transition: all 0.4s ease-out;
    }
  }
  @media only screen and (min-width: 1740px) {
    #logo {
      margin-left: 100px;
    }
  }
  @media only screen and (min-width: 992px) {
    #header__ul {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      font-size: 12px;
      padding-top: 8px;
    }
  }
  @media only screen and (min-width: 1260px) {
    #header__ul  {
      font-size: initial;
    }
  }
  @media only screen and (min-width: 768px) {
    #header__small {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .menu__xs--btn {
      display: none;
    }
  }
  @media only screen and (min-width: 576px) {
    .header__btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (min-width: 1260px) {
    .header__btn {
      width: initial;
    }
  }

/**** MAIN ****/

  @media only screen and (min-width: 992px) {
    .hero__image--container {
      height: calc(100vh - 81px);
    }
  }
  @media only screen and (min-width: 1260px) {
    .hero__image--container {
      height: calc(100vh - 100px);
      margin: 0 -6% 0 -6%;
      background-size: 100vw;
    }
  }
  @media screen and (-ms-high-contrast: none) {
    .hero__image--container {
      background-image: url("../assets/images/apz9evdgfnmmkna3cdrd.png");
    }
  }

  /*** CARDS ***/

  @media only screen and (min-width: 576px) {
    .card {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (min-width: 992px) {
    .card {
      flex-direction: row;
      margin: 100px 50px 50px 50px;
      max-width: 1260px;
    }
  }
  @media only screen and (min-width: 1740px) {
    .card {
      margin: 100px 0 50px 33px;
    }
  }
  @media only screen and (min-width: 1740px) {
    .card__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 50%;
      margin-top: 0;
    }
    .card__text h1 {
      font-size: 35px;
      margin-top: 0;
      max-width: 470px;
    }
    .card__text p {
      line-height: 25px;
      margin: 0 0 30px 0;
    }
  }

  /**** 2º CARD ****/
  
  @media only screen and (min-width: 1740px) {
    .card__3 .card__text p {
      max-width: 78%;
    }
  }
                        
  @media only screen and (min-width: 768px) {
    .card__text .hero__btn {
    display: initial;
    }
}
@media only screen and (min-width: 576px) {
    .card__image {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (min-width: 992px) {
    .card__image {
      margin: 0 50px 0 0px;
      max-width: 370px;
      max-height: 270px;
    }
  }
  @media only screen and (min-width: 1260px) {
    .card__image {
      max-width: 570px;
      max-height: 470px;
    }
  }

  /**** 3º CARD ****/

  @media only screen and (min-width: 992px) {
    .card__3image {
      display: block;
      background-image: url("../assets/images/emma.jpeg");
      background-position: center;
      height: 333px;
      width: 2600px;
    }
    .card__3image h2 {
      font-size: 17px;
      max-width: 220px;
    }
  }
  @media only screen and (min-width: 1740px) {
    .card__3image {
      margin-left: -70px;
      width: 600px;
      max-width: none;
    }
    .card__3image h2 {
      font-size: 25px;
      max-width: 265px;
      text-align: center;
    }
  }
  @media only screen and (min-width: 992px) {
    .card__3 .card__small-screen--image {
      display: none;
    }
  }
  @media only screen and (min-width: 1740px) {
    .image-emma__text--container {
      margin-left: 50px;
    }
  } 

  @media only screen and (min-width: 1740px) {
    .image-emma__text--container .hero__btn {
      width: initial;
    }
  }

/**** GLASSDOOR ****/

@media only screen and (min-width: 1740px) {
    .card__glassdoor h1 {
      font-size: 30px;
    }
  } 
  @media only screen and (min-width: 1740px) {
    .card__glassdoor {
      margin: 100px 0 0 100px;
    }
  }

/**** Alex ****/  

@media only screen and (min-width: 576px) {
    .alex__image--container  {
      display: block;
    }
  }
  @media only screen and (min-width: 576px) and (min-width: 1260px) {
    .alex__image--container {
      width: 600px;
      margin: 150px auto 150px auto;
    }
  }

/**** CARD LINKS ****/

@media only screen and (min-width: 992px) {
    .card__links--container {
      flex-direction: row;
      margin-bottom: 100px;
    }
  }
  @media only screen and (min-width: 768px) {
    .card__link h2 {
      width: 360px;
    }
  }
  @media only screen and (min-width: 992px) {
    .card__link {
      font-size: initial;
      margin: 15px;
    }
  }  

  @media only screen and (min-width: 768px) {
    .bottom__text {
      font-size: initial;
    }
  }

  /**** FOOTER ****/
  
  @media only screen and (min-width: 768px) {
    .footer__text {
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 1260px) {
    .footer__text {
      font-size: initial;
    }
  }
  @media only screen and (min-width: 576px) {
    .linkedin-style {
      margin-left: 50px;
    }
  }
  @media only screen and (min-width: 576px) {
    .powered__by {
      margin-right: 0;
      max-width: initial;
    }
  }
  @media only screen and (min-width: 576px) {
    .privacy-policy {
      margin-left: 0;
    }
  }
   